@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

/* Globale */

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Oxygen", sans-serif;
}

p {
  font-family: "Crimson Text", serif;
}

a {
  font-weight: 900;
}

body {
  background-color: #f3f7f8;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar */

header {
  padding: 10px 25px;
  font-family: "Oxygen", sans-serif;
  background-color: rgba(55, 59, 68, 1);
  display: grid;
  grid-template-columns: 10% 87%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header a img {
  width: 80%;
}

#main-menu {
  padding: 0px 15px;
}

#main-menu div {
  height: 50%;
}

#main-menu-top {
  display: flex;
  justify-content: flex-end;
}

#main-menu-top ul {
  list-style: none;
  display: flex;
}

#main-menu-top ul li {
  padding: 0px 25px;
}

#main-menu-top ul li a {
  text-decoration: none;
  color: white;
}

#main-menu-bottom ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  display: flex;
  align-items: center;
}

#main-menu-bottom ul li a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 25px;
  border-radius: 2em;
}

#space {
  height: 250px;
}

/* Footer */

.site__footer {
  background-color: #373b44;
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

.site__footer > :nth-child(1) {
  display: flex;
  justify-content: space-around;
}

.site__footer > :nth-child(1) > button {
  padding: 10px 35px;
  border: none;
  border-radius: 40px;
  background-color: white;
  height: 70px;
}

.site__footer > :nth-child(1) > button > img {
  height: 100%;
}

.site__footer > :nth-child(2) > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.site__footer > :nth-child(2) > ul > li > a {
  text-decoration: none;
  color: white;
}
